body{
    min-height: 100vh;
    margin: auto 15%;
    background-color: black;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#warning{
    display: none;
}

.search-items div{
display: flex;
justify-content: center;
}



@media screen and (width < 600px) {
    body{
        margin: auto 5%;
    }
    #searchtermBtn{
        padding: .3rem .5rem;
    }
    main article{
        width:100% !important;
    }
}


h1{
    font-size: 4rem;
    background-color: black;
    color: white;
    text-align: center;
    padding: .5rem;
}

p{
    font-weight: 800;
    display: inline;
}

input{
    height: 2rem;
    width: 50%;
    border-radius: .5rem;
    padding-left: .5rem;
    font-size: 1rem;
}


#searchTermBtn{
    height: 2rem;
    font-size: 1rem;
    padding: .1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: wheat;
    border: 2px rgb(255, 255, 255) solid;
    cursor: pointer;
    border-radius: .5rem;
}


/* Main content styles */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1rem;
    margin-top: 4rem;
}

main article {
    width: calc(33.33% - 20px);
    border-radius: 3px;
    border: solid rgb(148, 148, 148,0.3) 2px;
    overflow: hidden;
    box-shadow: 10 10 5px rgba(255, 255, 255);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
}

main article:hover {
    transform: scale(1.02);
}

main article img {
    width: 100%;
    height: 230px;
    object-fit: contain;
}

main article p,
main article h4,
main article audio {
    padding: 10px;
}


main article h4 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

main article p {
    font-size: 1rem;
    color: #707070;
}

main article audio {
    cursor: pointer;
}

main article audio:hover {
    background-color: #0056b3;
}

/* Special Feature  */
/* 
@media screen and (orientation:landscape) {
    body{
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #warning{
        display: block;
        font-size: xx-large;
        text-align: center;
        color: white;
    }

    .search-items{
        display: none;
    }
} */

